{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block body %}

    <h1>Simple Chat Test Project </h1>

    <form method="post" action="">
        <div class="form-group">
            <input type="text" name="message" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            <button type="submit" class="btn btn-secondary">Sign in</button>
        </div>
    </form>

{% endblock %}
